{% extends 'base.html' %}


{% block 'page_title' %}

{% endblock %}


{% block 'content' %}

<section class="add_patient sec">
  <div class="str">
    <div class="center">

      <a href="{% url 'rv_view' 'key' %} " class="cellule cellule-btn"> make appointment</a>

    </div>

  </div>
</section>

<section id="grid2" class="sec2 sec">
  <div class="sub1_sec2">
    {% for rv in rvs %}
    <div class="patient">
      <div class="name patient_info box">
        <div class="">
          <span class="title">{{rv.name}}</span><br>
          <div class="align">
            <span class="tag">phone:</span><br>
            <span class="sub_title">{{rv.phone_num}}</span>
          </div>

        </div>
      </div>

      <div class="start_day patient_info">
        <span class="tag">appointment date</span><br>
        <span class="sub_title">{{rv.date_forma}}</span>

      </div>
      <div class="cmnt patient_info">
        <span class="tag">comment</span><br>
        <span class="sub_title">{{rv.cmnt}}</span>
      </div>


    </div>



    {% endfor%}


  </div>
  <div class="sub2_sec2">

  </div>

</section>



<!-- WARNING:  -->




{% endblock %}
