{% extends 'base.html' %}


{% block 'page_title' %}

{% endblock %}


{% block 'content' %}

<section class="add_patient sec">
  <div class="patient">
    <div class="center">

      <a href="{% url 'rv_view' 'key' %} " class="cellule cellule-btn"> make appointment</a>

    </div>

  </div>
</section>

<section id="grid2" class="sec2 sec">
  <div class="sub1_sec2">
    {% for rv in rvs %}
    <div class="patient">
      <div class="nav">
        <div class="cellule ">
          {{rv.name}}
        </div>
        <div class="cellule ">
          {{rv.phone_num}}
        </div>
        <div class="cellule ">
          <td>{{rv.cmnt}}</td>
        </div>
        <div class="cellule ">
          <td>{{rv.date_forma}}</td>
        </div>


      </div>
      <div class="nav push">
        <a href="" class="cellule cellule-btn">delete</a>
      </div>
    </div>

    {% endfor%}


  </div>
  <div class="sub2_sec2">

  </div>

</section>



<!-- WARNING:  -->




{% endblock %}
