{% extends 'base.html' %}

{% load static %}



{% block 'page_title' %}

{% endblock %}


{% block 'content' %}

<section id="" class="sec1 sec">


  <div class="sub1_sec1 box str">
    <div class="content-wrapper box">
      <span class="title">Make appointment</span><br>
      <span class="sub_title">you can make appointment for tomorrow or you can as well choose
        the day you want to make your appointment
      </span>



      <div class="">
        <a href="{% url 'rv_view' 'tommorw_ap' %} " class="btn color1">tomorrow</a>
        <a href="{% url 'rv_view' 'date_ap' %}" class="btn color1">choose a date </a>

      </div>
    </div>
  </div>

  <div class="sub2_sec1">
    <img src="{% static 'images/s3.svg' %}" alt="">

  </div>
</section>

<!-- WARNING:  -->

{% endblock %}
