{% extends 'base.html' %}
{% load static %}



{% block 'page_title' %}

{% endblock %}



{% block 'content' %}
<section id="" class="sec1 sec">

  <div class="sub1_sec1 box str ">
    <div class="content-wrapper box">
      <span class="title">Join our caummunity</span><br>
      <span class="sub_title">you can easly manage your client using our great web site.
      join us now </span>

      <div class="align">
        <a href="{% url 'send_infos'  %}" class="btn color1">join us as a doctor</a>
        <a href="{% url 'rv_view' 'key' %} " class="btn color2">make an appointment</a>

      </div>
    </div>
  </div>

  <div class="sub2_sec1">
    <img src="{% static 'images/s5.svg' %}" alt="">

  </div>
</section>

{% endblock %}
