{% extends 'base.html' %}
{% load static %}



{% block 'page_title' %}

{% endblock %}



{% block 'content' %}
<section id="" class="sec1 sec">

  <div class="sub1_sec1 box">
    <div class="content-wrapper box">
      <h1>join our caummunity</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna a
        roident, sunt in culpa qui officia deserunt mollit anim id es
        t laborum.</p>

      <div class="align">
        <a href="{% url 'send_infos'  %}" class="btn color1">join us as a doctor</a>
        <a href="{% url 'rv_view' 'key' %} " class="btn color2">make an appointment</a>

      </div>
    </div>
  </div>

  <div class="sub2_sec1">
    <img src="{% static 'images/s5.svg' %}" alt="">

  </div>
</section>

{% endblock %}
