{% extends 'base.html' %}


{% block 'page_title' %}

{% endblock %}


{% block 'content' %}
<section class="add_patient sec">
  <div class="str">
    <div class=" ">
      <a href="{% url 'add_new_patient' %}" class="cellule cellule-btn"> add patient</a>
    </div>
  </div>
  <div class="str">
    <div class="">
      <form class="" action="{% url 'search_by_name' %}" method="get">
        {% csrf_token %}
        <div class="align">
          <input type="text" name="search_by_name" value="" placeholder="search for any patient">
          <button type="submit" class="cellule cellule-btn">search</button>

        </div>

      </form>
    </div>
  </div>
</section>

<section id="grid2" class="sec2 sec">
  <div class="sub1_sec2">
    {% for patient in patients %}
    {% if not patient.is_deleted %}
    <div class="patient">
      <div class="name patient_info box">
        <div class="">
          <span class="title">{{patient.name}}</span><br>
          <div class="align">
            <span class="tag">phone:</span><br>
            <span class="sub_title">{{patient.phone_num}}</span>

            <span class="tag">CIN:</span><br>
            <span class="sub_title">{{patient.cin}}</span>


          </div>

        </div>
      </div>
      <div class="cost_dh patient_info">
        <span class="tag">cost</span><br>
        <span class="sub_title">{{patient.cost_dh}}</span>

      </div>
      <div class="rest_dh patient_info">
        <span class="tag">rest</span><br>
        <span class="sub_title">{{patient.rest_dh}}</span>

      </div>
      <div class="start_day patient_info">
        <span class="tag">start day</span><br>
        <span class="sub_title">{{patient.get_date_debut}}</span>


      </div>
      <div class="cmnt patient_info">
        <span class="tag">comment</span><br>
        <span class="sub_title">{{patient.commentaire}}</span>
      </div>
      <div class="genre_visite patient_info">
        <span class="tag">type of visit</span><br>
        <span class="sub_title">{{patient.genre_visite}}</span>
      </div>

      <a href="{% url 'delete_patient_real' patient.pk %}" class=" dl patient_info  cellule-btn box">delete</a>
      <a href="{% url 'update_patient' patient.pk %}" class="upd patient_info  cellule-btn box">update</a>
    </div>
    {% endif %}
    {% endfor %}

  </div>
  <div class="sub2_sec2">


  </div>

</section>




{% endblock %}
