{% extends 'not_allowed_page.html' %}


{% block 'page_title' %}
<div class="container">
  <div class="container">
    <h1 class="title">here you are </h1>
    <p class="subtitle">maybe you get lost</p>
  </div>
</div>
{% endblock %}

{% block 'content' %}
<section id="" class="sec1 sec">

  <div class="sub1_sec1 box">
    <div class="content-wrapper box">
      <h1>Ouupssiiiis.....  404.</h1>
      <p>this page not found i think,
        plz go back or try later</p>

      <div class="">
        <a class="btn color1" href="{% url 'view' %}">
          <span>go back to home</span>
        </a>

      </div>
    </div>
  </div>

  <div class="sub2_sec1">
    <img src="{% static 'images/b1.svg' %}" alt="">

  </div>
</section>


{% endblock %}
