{% extends 'base.html' %}
{% load static %}



{% block 'page_title' %}

{% endblock %}


{% block 'content' %}
<section id="" class="sec1 sec">

  <div class="sub1_sec1 box">
    <div class="content-wrapper box">
      <h1>Ouupssiiiis..... you are not allowed to be here .</h1>
      <p>it seems that you are not superuser,
        and u probably have hacking intentions so stay where the fuck u r
        cus we calling FBI right now, or u can go back home</p>

      <div class="">
        <a class="btn color1" href="{% url 'view' %}">
          <span>go back to home</span>
        </a>

      </div>
    </div>
  </div>

  <div class="sub2_sec1">
    <img src="{% static 'images/b1.svg' %}" alt="">

  </div>
</section>


{% endblock %}
