{% extends 'base.html' %}
{% load static %}



{% block 'page_title' %}

{% endblock %}


{% block 'content' %}
<section id="" class="sec1 sec">

  <div class="sub1_sec1 box">
    <div class="content-wrapper box">
      <span class="title">Ouupssiiiis..... <strong>{{ user.username }}</strong> {{ msg }} .</span>
      <div class="">
        <a class="btn color1" href="{% url 'view' %}">
          <span>go back to home</span>
        </a>

      </div>
    </div>
  </div>

  <div class="sub2_sec1">
    <img src="{% static 'images/b1.svg' %}" alt="">

  </div>
</section>


{% endblock %}
